<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Home</title>
	
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Home</strong>
			<div th:if="${user != null}" style="float: right">
				<label th:text="${user}" ></label>
				<a class="btn btn-link" href="/logout">
					log out
					<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				</a>			
			</div>
			<div th:if="${user == null}" style="float: right">
				<a class="btn btn-link" href="/login">
					log in
					<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				</a>			
			</div>
		</div>
		<div class="panel-body">
			<div class="row no-gutters">
				<div class="card col-md-3 border" th:each="product : ${products}">
					<div class="card-body">
						<h5 class="card-title" th:text="${product.name}"></h5>
						<p class="card-text">
							$ <label th:text="${product.price}"></label>
						</p>
						<a th:href="@{/{id}(id=${product.id})}" class="btn btn-primary">show</a>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<a th:if="${user != null}" class="btn btn-sm btn-default" th:href="@{/product}">admin products</a>
			<a th:if="${cartQuantity > 0}" class="btn btn-sm btn-default" th:href="@{/cart}">
				Cart (<label th:text="${cartQuantity}"></label>)
			</a>
		</div>
	</div>
</body>
</html>
